name: ci
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    container: golang:1.24
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get cache paths
        id: cache
        run: |
          echo "build=$(go env GOCACHE)" | tee -a $GITHUB_OUTPUT
          echo "module=$(go env GOMODCACHE)" | tee -a $GITHUB_OUTPUT

      - name: Set up cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ${{ steps.cache.outputs.build }}
            ${{ steps.cache.outputs.module }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run tests
        run: go test -race ./...
  
  licenses:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: check licenses
      run: ./scripts/check_license_headers.sh .
